# MongoDB Connection URL (e.g. mongodb+srv://username:password@host/database?retryWrites=true&w=majority)
DATABASE_URL="mongodb+srv://readonly_user:password@cluster.mongodb.net/nextbus"

# NextAuth Configuration
AUTH_SECRET="35cf08872b0c3639a06141a8775f0a20a455a5dc62ce9d90ec9ff411a0bf1838"
NEXTAUTH_URL="http://localhost:3000"
